<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Acesso Bloqueado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-block"> <div class="container">
        <h1>🌸 Patrulha das meninas bloqueou esse site 🌸</h1>
        <p>O site <span style="color: #FF69B4; font-weight: bold;">{{ domain }}</span> foi bloqueado.</p>
        <p>Em caso de duvidas, fale com o Tribunal de Minúsculas Causas.</p>
    </div>
</body>
</html>